<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39757960943-ecf8tt6ols4q76tdjlvt1c1oavt3u4sh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39757960943-ecf8tt6ols4q76tdjlvt1c1oavt3u4sh</string>
	<key>API_KEY</key>
	<string>AIzaSyB1ovZGdXBGi3ziI8gNYe513piVU1i65o8</string>
	<key>GCM_SENDER_ID</key>
	<string>39757960943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>store.mundo.pet.storeMundoPet</string>
	<key>PROJECT_ID</key>
	<string>mundo-negocio</string>
	<key>STORAGE_BUCKET</key>
	<string>mundo-negocio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39757960943:ios:741149d1e20f4a663c6d1a</string>
</dict>
</plist>